<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OzetteClientAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OzetteClientAgent.Properties.Settings>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Filename=OzetteClient.db;Journal=true;Mode=Exclusive</value>
            </setting>
            <setting name="EventlogName" serializeAs="String">
                <value>OzetteClient</value>
            </setting>
            <setting name="HighPriorityScanFrequencyInHours" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MedPriorityScanFrequencyInHours" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="LowPriorityScanFrequencyInHours" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="LogFilesDirectory" serializeAs="String">
                <value>C:\Program Files\Ozette\Client\Logs</value>
            </setting>
            <setting name="SourcesFilePath" serializeAs="String">
                <value>C:\Program Files\Ozette\Client\BackupSources.json</value>
            </setting>
            <setting name="ProvidersFilePath" serializeAs="String">
                <value>C:\Program Files\Ozette\Client\ProviderOptions.json</value>
            </setting>
        </OzetteClientAgent.Properties.Settings>
    </applicationSettings>
</configuration>